:root {
    --safe-area-inset-top: env(safe-area-inset-top);
    --safe-area-inset-bottom: env(safe-area-inset-bottom);
    --safe-area-inset-left: env(safe-area-inset-left);
    --safe-area-inset-right: env(safe-area-inset-right);
}

body, html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    position: relative;
    font-family: system-ui, sans-serif;
    background: #ffc555 linear-gradient(to right, #ffa751, #ffe259);
    padding: var(--safe-area-inset-top) 0 var(--safe-area-inset-bottom);
}

#compteur-container {
    text-align: center;
    position: absolute;
    top: var(--safe-area-inset-top);
    right: var(--safe-area-inset-right);
    bottom: var(--safe-area-inset-bottom);
    left: var(--safe-area-inset-left);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - var(--safe-area-inset-top) - var(--safe-area-inset-bottom));
}

#valeur-compteur {
    font-size: 10em;
    font-weight: bold;
    margin: 20px 0;
}

.bouton-compteur, #reinitialiser {
    padding: 15px 30px;
    margin: 10px;
    font-size: 1em;
    cursor: pointer;
    font-weight: bold;
    border: none;
    color: white;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    background: linear-gradient(145deg, #ff919d, #ff7272);
}

.bouton-compteur:hover, #reinitialiser:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transform: scale(1.05);
}

#reinitialiser {
    background: linear-gradient(145deg, #6ee7b7, #34d399);
}
